In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Extract

In [2]:
df = pd.read_json("../data/scraped/wilayah.jsonl", lines=True)
df.head()

,nama,id,kode,tingkat,url
0,ACEH,100054,11,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...
1,BALI,191103,51,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...
2,BANTEN,191100,36,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...
3,BENGKULU,191092,17,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...
4,DAERAH ISTIMEWA YOGYAKARTA,191098,34,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915326 entries, 0 to 915325
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   nama     915326 non-null  object
 1   id       915326 non-null  int64
 2   kode     915326 non-null  object
 3   tingkat  915326 non-null  int64
 4   url      915326 non-null  object
dtypes: int64(2), object(3)
memory usage: 34.9+ MB

# Transform

In [4]:
df_final = (
    df
    .copy()
    .drop(columns=["id"])
    .assign(parent_kode=df["url"].str.extract(r"(\d+)\.json"))
)

df_final.head()

,nama,kode,tingkat,url,parent_kode
0,ACEH,11,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...,0
1,BALI,51,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...,0
2,BANTEN,36,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...,0
3,BENGKULU,17,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...,0
4,DAERAH ISTIMEWA YOGYAKARTA,34,1,https://sirekap-obj-data.kpu.go.id/wilayah/pem...,0

# Load

In [5]:
df_final.to_parquet("../data/clean/wilayah.parquet")